#container {
    display: flex;
}
td {
    height: 100px;
    text-align: center;
}
.header-row {
    height: 50px;
    width: 100%;
    background-color: #343a40;
    color: white;
}
.table-part{
    margin: 0 50px;
}
.table {
    width: 100%;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.table-name {
    height: 60px;
    font-size: 40px;
    margin: auto;
}
.info-col {
    height: 70px;
}
.tag-order-number {
    width: 100px;
}
.tag-id {
    width: 150px;
}
.tag-hacks {
    width: 100px;
}
.tag-points {
    width: 150px;
}
.tag-name {
    width: 200px;
}
.problems {
    width: 100px;
}
.problem {

    background-color: #58b323;
}
#header-row {
    background-color: #343a40;
    color: white;
}