#title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-style: bold;
}
#textarea-code {
    background-color: #272822;
    color: white;
}
#textarea-res {
    background-color: #eaeaea;
    color: #888888;
    border-color: #888888;
}
.input {
    display: none;
}
.code-area {
    background-color: #272822;
}