#container{
    width: 80%;
    margin: auto;
}
td {
    height: 60px;
    text-align: center;
}
#header {
    justify-content: center;
}
#btn {
    width: 100px;
    height: 50px;
}
#contest-name {
    width: 80%;
    height: 60px;
    font-size: 40px;
    margin: auto;
}
#table {
    /* margin-top: 100px; */
    width: 100%;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.info-col {
    height: 70px;
}
.problems {
    width: 70px;
    
}
.problem {
    background-color: #58b323;
}
.tag-order-number {
    width: 100px;
}
.tag-id {
    width: 150px;
}
.tag-points {
    width: 150px;
}
.tag-name {
    width: 200px;
}
.tag-hacks {
    width: 100px;
}
.problems {
    width: 200px;
}
#table-head {
    background-color: #343a40;
    color: white;
}